.detail-page {
  height: 650px;
  overflow: auto;
}

.detail-page > :global(.ant-col):first-child {
  max-height: 800px;
  overflow: auto;
}

@media screen and (max-width: 991px) {
  .detail-page {
    height: 100%;
  }
}
